body {
  display: block;
  margin: 0;
}

.menu {
  box-sizing: border-box;
  max-width: 768px;
  min-height: 88px;
  background-color: #FFFFFF;
  transition: all 0.05s ease;
}

.menu--active {
  z-index: 999999;
  box-sizing: border-box;
  width: 320px;
  height: 676px; 
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-shrink: 0;
  position: absolute;
  transform: translate(0, 0);
  box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
}

.wrapper {
  box-sizing: border-box;
}

.menu__wrapper--for--logo {
  width:186px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  padding: 18px 0;
  transition: all 0.1s ease;
}

.menu__wrapper--for--logo:after {
  box-sizing: border-box;
  position: absolute;
  content: '';
  transform: translateX(94px);
  width: 2px;
  height: 32px;
  background: #EAEAEA;;
  border-radius: 1px;
  transition: all 0.1s ease;
}

.menu__wrapper--for--logo.menu__wrapper--active {
  display: flex;
  align-items: center;
  width: 226px;
  justify-content: flex-start;
  position: relative;
  padding: 18px 16px 0 16px;
  margin-bottom: 23px;
}

.menu__wrapper--for--logo.menu__wrapper--active:before, .menu__wrapper--for--logo.menu__wrapper--active:after, .menu__wrapper--for--mod-btn.menu__wrapper--active:after {
  transform: scale(0);
}

.button {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background: transparent;
  flex-shrink: 0;  
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}

.button:hover {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5)) saturate(1.8);
  transform: scale(1.3);
}

.menu__button, .services__button {
  background-color: #FF3E79;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.button__img {
  display:block;
  box-sizing: border-box;
  margin: auto;
  transition: all 0.3s ease;
}

.menu__button--name--burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.button__line:nth-child(1) {
  width: 18px;
  height: 2px;
  border-radius: 1px;
  background-color: #FFFFFF;
  margin: auto auto 5px auto;
  transition: all 0.3s ease;
}

.button__line:nth-child(2) {
  width: 10px;
  height: 2px;
  border-radius: 1px;
  background-color: #FFFFFF;
  margin: 0 19px 5px 11px;
  transition: all 0.3s ease;
}

.button__line:nth-child(3) {
  width: 14px;
  height: 2px;
  border-radius: 1px;
  background-color: #FFFFFF;
  margin: 0 15px auto 11px;
  transition: all 0.3s ease;
}

.menu__button--name--burger.menu__button--active .button__line:nth-child(1) {
  transform: rotate(765deg) translate(5px, 5px);
  width: 24px;
}

.menu__button--name--burger.menu__button--active .button__line:nth-child(2) {
  transform:translateX(40px);
  opacity: 0;
}

.menu__button--name--burger.menu__button--active .button__line:nth-child(3) {
  transform: rotate(-765deg) translate(6px, -4px);
  width: 24px;
}

.menu__logo {
  transition: all 0.3s ease;
}

.menu__logo:hover {
  transform: scale(1.05);
}

.menu__logo--active {
  margin-left: 16px;
  margin-right: 93px;
}

.logo__img {
  display:block;
  box-sizing: border-box;
  margin: auto 0;
  transition: all 0.3s ease;
}

.logo__img--active {
  height: 52px;
}

.menu__button--name--search {
  display:none;
  transition: all 0.3s ease;
}

@keyframes loop-loop {
  20%{
    transform: rotate(-30deg) translate(-5px, 5px) scale(1.2)
  }
  40%{
    transform: rotate(0) scale(0.8)
  }
  60%{
    transform: rotate(30deg) translate(5px, -5px) scale(1.2)
  }
  80%{
    transform: rotate(0) scale(0.8)
  }
}

.menu__button--name--search:hover .button__img {
  animation-name: loop-loop;
  animation-duration: 2s;
}

.menu__button--name--search.menu__button--active {
  display:block;
}

.navigation {
  box-sizing: border-box;
  transition: all 0.1s ease;
}

.menu__navigation {
  display: none;
}

.menu__navigation--active {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.navigation__list {
  transition: all 0.1s ease;
}

.navigation__list--active {
  display: flex;
  height: 383px;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 11px;  
  padding-left: 0;
  overflow: visible;
}

.navigation__item {
  transition: all 0.2s ease;
}

.navigation__item--active {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;  
  align-items: flex-start;
  position: relative;
  height: 100%;
}

.link-btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;  
  align-items: center;
  outline: none;
  text-decoration: none;
  white-space: nowrap;  
  transition: all 0.3s ease;
}

.navigation__link-btn--active {
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  font-weight: 500;    
  margin-left: 12px;
}  

.navigation__link-btn--active:before {
  position: relative;
  box-sizing: border-box;
  content: '';
  left: -12px;
  width: 4px;
  height: 28px;
  border-right: 4px solid #41F6D7;
  border-radius: 0 4px 4px 0;  
  opacity: 0;   
  transition: all 0.3s ease;
}

.navigation__link-btn--active:hover:before, .navigation__link-btn--active:focus:before {
  opacity: 1;
}

.navigation__link-btn--current.navigation__link-btn--active {
  color: #7E7E82;
}

.navigation__link-btn--current.navigation__link-btn--active:before {
  opacity: 1;
}

.menu__wrapper--for--mod-btn {
  display: none;
  transition: all 0.05s ease;
}

@keyframes ding-dong {
  33%{
    transform: rotate(-10deg)
  }
  50%{
    transform: rotate(0)
  }
  66%{
    transform: rotate(10deg)
  }
}

.menu__button--name--call:hover .button__img {
  animation-name: ding-dong;
  animation-duration: 0.15s;
  animation-iteration-count: 3;
  animation-timing-function: linear;
}

@keyframes message {
  0%{
    transform: scale(0.3) translate(-10px, 10px)
  }
  100%{
    transform: scale(1.2)
  }
}

.menu__button--name--chat:hover .button__img {
  animation-name: message;
  animation-duration: 0.3s;
}

@keyframes look-around {
  33%{
    transform: skewX(15deg) translate(-3px)
  }
  50%{
    transform: skewX(0)
  }
  66%{
    transform: skewX(-15deg) translate(3px)
  }
}

.menu__button--name--profile:hover .button__img {
  animation-name: look-around;
  animation-duration: 0.9s;
  animation-timing-function: linear;
}

.menu__wrapper--for--mod-btn.menu__wrapper--active {
  box-sizing: border-box;
  align-items: center;
  width: 373px;
  margin-right: 0;
  padding-right: 0;
  display: flex;
  justify-content: flex-start;
  padding-left: 16px;
  margin-bottom: 16px;
}

.menu__button--name--call.menu__button--active, .menu__button--name--chat.menu__button--active {
  margin-right: 16px;
}

.menu__mailto {
  display: none;
  transition: all 0.3s ease;
}

.menu__mailto--active {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;  
  align-items: center;
  outline: none;
  text-decoration: none;
  white-space: nowrap;  
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  padding-left: 16px;
  margin-bottom: 13px;
  font-weight: 500;
}

.menu__callto {
  display: none;
  transition: all 0.3s ease;
}

.menu__callto--active {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;  
  align-items: center;
  outline: none;
  text-decoration: none;
  white-space: nowrap;  
  font-family: 'TT Lakes';
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  padding-left: 16px;
  margin-bottom: 6px;
  font-weight: bold;
}

.menu__wrapper--for--lang {
  display: none;
  transition: all 0.3s ease;
}

.menu__wrapper--for--lang.menu__wrapper--active {
  padding-left: 16px;
  display: flex;
}

.menu__link-btn--active {
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  margin-right: 8px;
  font-weight: 500;
}

.menu__link-btn--current.menu__link-btn--active {
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  margin-right: 8px;
}

.upender__exception {
  transition: all 0.5s ease;
}

.upender__exception--blurred {
  filter: blur(2px);
  pointer-events: none;
}

.placeholder {
  display: none;
  transition: all 0.01s ease;
}

.placeholder--active {
  display: block;
  min-height: 88px;
  width: 100%;
  background-color: #FFFFFF;
  background-image: url("/img/placeholder.jpg");
  background-position: right;
  background-repeat: no-repeat;
}

.services {
  box-sizing: border-box;
  max-width: 768px;
  min-height: 509px;
  background-color: #F8F8F8;
}

.services__wrapper {
  transition: all 0.2s ease;
}

.services__wrapper--for--first-line {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 32px;
  padding-top: 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__wrapper--for--first-line:before {
  box-sizing: border-box;
  position: absolute;
  content: '';
  left: 0;
  width: 4px;
  height: 40px;
  border-right: 4px solid #41F6D7;
  border-radius: 0 4px 4px 0; 
}

.title {
  box-sizing: border-box;
  margin: 0;  
}

.services__title {
  font-family: 'TT Lakes';
  font-size: 28px;
  line-height: 40px;
  color: #1B1C21;
  letter-spacing: -0.6px;
  width: 233px;
  flex-shrink: 0;
  white-space: nowrap;
}

.services__wrapper--for--btns {
  box-sizing: border-box;
  width: 96px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  position: relative;
  top: -88px;
  left: -41px;
}

.services__button--name--submit:hover .button__img {
  transform: rotate(720deg);
}

.services__button--name--status:hover .button__img {
  transform: scale(1.4) rotate(10deg);
}

.services__wrapper--for--btns.services__wrapper--hidden {
  display: none;
}

.services__btn-text {
  box-sizing: border-box;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.services__navigation {
  height: 40px;
  padding-left: 16px;
  position: relative;
}

.services__navigation:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 100%;
  background: linear-gradient(270deg, #F8F8F8 19%, rgba(248, 248, 248, 0.0001) 100%);
  z-index: 1;
}

.list {
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: visible;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.services__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.services__item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;  
  align-items: center;  
}

.services__link-btn {
  height: 40px;
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  color: #7E7E82;
  padding: 0 16px;
  transition: all 0.3s ease;
}

.services__link-btn--current {
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: inset 0 0 2px 0 rgba(184, 255, 236, 0), inset 0 0 0 2px rgba(184, 255, 236, 1);
}

.services__link-btn:hover, .services__link-btn:focus {
  border-radius: 6px;
  box-shadow: inset 0 0 2px 0 rgba(184, 255, 236, 0), inset 0 0 0 2px rgba(184, 255, 236, 1);
}

.content{
  box-sizing: border-box;
}

.article{
  box-sizing: border-box;
}

.services__article {
  padding: 24px 16px 16px 16px;  
}

.services__text{
  box-sizing: border-box;
  font-family: 'TT Lakes';
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #1B1C21;
  margin: 0;
  margin-bottom: 16px;
}

.services__text--vis-fr--768, .services__text--vis-fr--1440 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.more-btn {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  width: 141px;
  height: 24px;
  padding: 0;
  font-family: 'TT Lakes';
  font-size: 16px;
  color: #1B1C21;
  line-height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  padding-right: 9px;
  transition: all 0.3s ease;
}

.more-btn:hover, .more-btn:focus {
  border-radius: 6px;
  box-shadow: 0 0 2px 0 rgba(184, 255, 236, 0), 0 0 0 2px rgba(184, 255, 236, 1);
}

.upender__blur-overlay {
  transition: all 0.2s ease;
}

.upender__blur-overlay--active {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: rgba(128, 128, 128, 0.5);
  pointer-events: auto;
  z-index: 1;
}

@media (min-width: 360px) {
  
  .menu--active {
    width: 360px;
  }

  .menu__wrapper--for--logo.menu__wrapper--active {
    padding: 18px 16px 0 24px;
    margin-bottom: 21px;
  }

  .menu__logo--active {
    margin-right: 112px;
  }

  .logo__img--active {
    height: 55px;
  }

  .navigation__list--active {
    margin-bottom: 11px;
  }

  .navigation__link-btn--active {
    margin-left: 19px;
  }

  .navigation__link-btn--active:before {
    left: -19px;
  }

  .menu__wrapper--for--mod-btn.menu__wrapper--active, .menu__mailto--active, .menu__callto--active, .menu__wrapper--for--lang.menu__wrapper--active {
    padding-left: 24px;
  }
}

@media (min-width: 768px) {

  .menu {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
  }

  .menu--active {
    width: 320px;
    height: 1024px;
    justify-content: flex-start;
  }

  .menu__wrapper--for--logo {
    width: 226px;
    justify-content: space-around;
    position: relative;
    padding: 18px 2px;
  }

  .menu__wrapper--for--logo:before {
    box-sizing: border-box;
    position: absolute;
    content: '';
    right: 140px;
    width: 2px;
    height: 32px;
    background: #EAEAEA;;
    border-radius: 1px;
  }

  .menu__wrapper--for--logo:after {
    display: none;
  }

  .menu__wrapper--for--logo.menu__wrapper--active {
    margin-bottom: 48px;
  }

  .menu__logo--active {
    margin-right: 78px;
  }

  .logo__img {
    width: 97px;
  }

  .logo__img--active {
    height: 52px;
  }

  .menu__navigation {
    margin-bottom: 302px;
  }

  .navigation__list--active {
    margin-bottom: 0;
    overflow: visible;
  }

  .navigation__item--active {
    margin-bottom: 28px;
  }

  .menu__wrapper--for--mod-btn {
    box-sizing: border-box;
    width: 156px;
    margin-right: 158px;
    padding-right: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu__wrapper--for--mod-btn::after {
    box-sizing: border-box;
    position: absolute;
    content: '';
    right: 140px;
    width: 2px;
    height: 32px;
    background: #EAEAEA;;
    border-radius: 1px;
  }

  .menu__wrapper--for--mod-btn.menu__wrapper--active {
    margin-bottom: 17px;
  }

  .menu__callto--active {
    margin-bottom: 39px;
  }

  .menu__wrapper--for--lang.menu__wrapper--active {
    margin-bottom: 0;
  }

  .services {
    max-width: 1440px;
    min-height: 416px;
  }

  .services__wrapper--for--first-line {
    padding-left: 24px;
    margin-bottom: 31px;
  }

  .services__wrapper--for--btns {
    left: 7px;
  }

  .services__navigation {
    padding-left: 25px;
  }

  .services__content {
    padding-top: 32px;
  }

  .services__article {
    float: left;
    width: 40.625%;
    margin-left: 3.125%;
    margin-right: 3.125%;
    padding: 0;
  }

  .services__text {    
    line-height: 20px;
    margin-bottom: 20px;
  }

  .services__text--vis-fr--768 {
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    margin-bottom: 10px;
  }

  .services__more-btn {
    padding-left: 9px;
  }

  .services__image {
    float: right;
    width: 46.825%;
    margin-left: 3.125%;
    margin-right: 3.125%;
    min-height: 208px;
    max-height: 247px;
    object-fit: cover;
    border-radius: 5px;
  }
}

@media (min-width: 1426px) {
  
  .upender {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
  }

  .menu {
    width: 306px;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-shrink: 0;
  }

  .menu__wrapper--for--logo {
    width: 100%;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 29px;
    padding-top: 29px;
    margin-bottom: 16px;
  }

  .menu__wrapper--for--logo:before, .menu__wrapper--for--mod-btn:after {
    display: none;
  }

  .menu__button--name--burger {
    display: none;
  }

  .menu__button--name--search {
    display:block;
  }

  .menu__navigation {
    display: flex;
    flex-direction: column;
  }

  .navigation__list {
    display: flex;
    height: 397px;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 216px;
  }

  .navigation__item {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;  
    align-items: flex-start;
    position: relative;
    height: 100%;
  }

  .navigation__link-btn {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500;    
    margin-left: 20px;
  }  

  .navigation__link-btn:before {
    position: relative;
    box-sizing: border-box;
    content: '';
    left: -18px;
    width: 4px;
    height: 28px;
    border-right: 4px solid #41F6D7;
    border-radius: 4px;  
    opacity: 0;   
    transition: opacity 0.3s ease;
  }

  .navigation__link-btn:hover:before, .navigation__link-btn:focus:before {
    opacity: 1;
  }

  .navigation__link-btn--current {
    color: #7E7E82;
  }

  .navigation__link-btn--current:before {
    opacity: 1;
  }

  .menu__wrapper--for--mod-btn {
    width: 373px;
    margin-right: 0;
    padding-right: 0;
    display: flex;
    justify-content: flex-start;
    padding-left: 19px;
    margin-bottom: 16px;
  }

  .menu__button--name--call, .menu__button--name--chat {
    margin-right: 16px;
  }

  .menu__mailto {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;  
    align-items: center;
    outline: none;
    text-decoration: none;
    white-space: nowrap;  
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    padding-left: 19px;
    margin-bottom: 16px;
    font-weight: 500;
  }

  .menu__callto {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;  
    align-items: center;
    outline: none;
    text-decoration: none;
    white-space: nowrap;  
    font-family: 'TT Lakes';
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    padding-left: 19px;
    margin-bottom: 40px;
    font-weight: bold;
  }

  .menu__wrapper--for--lang {
    padding-left: 22px;
    display: flex;
  }

  .menu__link-btn {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin-right: 8px;
    font-weight: 500;
  }

  .menu__link-btn--current {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    margin-right: 8px;
  }

  .upender__exception {
    max-width: 1120px;
  }

  .services__wrapper--for--first-line {
    justify-content: flex-start;
    padding-top: 42px;
    padding-left: 31px;
    margin-bottom: 8px;
  }

  .services__wrapper--for--first-line:before {
    position: relative;
    left: -29px;
    width: 4px;
    height: 40px;
    border-radius: 4px; 
  }

  .services__title {
    margin-right: 726px;
  }

  .services__wrapper--for--btns {
    position: static;
    justify-content: flex-end;
  }

  .services__button--name--submit {
    margin-right: 32px;
  }

  .services__btn-text {
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin: auto 0;
    cursor: pointer;
    white-space: nowrap;    
    margin-right: 9px;
  }

  .services__link-btn {
    padding: 0 14px 0 24px;
  }

  .services__navigation {
    padding-left: 35px;
    max-height: 40px;
    overflow: visible;
  }

  .services__navigation:after {
    display: none;
  }

  .services__list {
    flex-wrap: wrap;
  }

  .services__item {
    margin-bottom: 4px;
  }

  .services__content {
    min-height: 368px;
  }

  .services__article {
    width: 43.75%;
    margin-left: 3.036%;
    margin-right: 1.339%;
  }

  .services__text--vis-fr--alw {
    margin-top: 27px;
  }

  .services__text--vis-fr--1440 {
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
  }

  .services__image {
    width: 47.411%;
    margin-left: 1.339%;
    margin-right: 2.5%;
    margin-top: 16px;
    min-height: 307px;
  }
}
