

body {
  display: block;
  margin: 0;
}

.menu {
  box-sizing: border-box;
  max-width: 768px;
  min-height: 88px;
  background-color: #FFFFFF;
}

.wrapper {
  box-sizing: border-box;
}

.menu__wrapper--for--logo {
  width:186px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  padding: 18px 0;
}

.menu__wrapper--for--logo:after {
  box-sizing: border-box;
  position: absolute;
  content: '';
  right: -2px;
  width: 2px;
  height: 32px;
  background: #EAEAEA;;
  border-radius: 1px;
}

.button {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  flex-shrink: 0;  
  cursor: pointer;
  transition: filter 0.2s ease;
}

.button:hover {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5)) saturate(1.8);
}

.menu__button, .services__button {
  background-color: #FF3E79;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.button__img {
  display:block;
  box-sizing: border-box;
  margin: auto;
}

.logo__img {
  display:block;
  box-sizing: border-box;
  margin: auto 0;
}

.menu__button--name--search {
  display:none;
}

.navigation {
  box-sizing: border-box;
}

.menu__navigation {
  display: none;
}

.menu__wrapper--for--mod-btn {
  display: none;
}

.services {
  box-sizing: border-box;
  max-width: 768px;
  min-height: 509px;
  background-color: #F8F8F8;
}

.title {
  box-sizing: border-box;
  margin: 0;  
}

.services__btn-text {
  box-sizing: border-box;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.services__title {
  font-family: 'TT Lakes';
  font-size: 28px;
  line-height: 40px;
  color: #1B1C21;
  letter-spacing: -0.6px;
  width: 233px;
  flex-shrink: 0;
  white-space: nowrap;
}

.services__wrapper--for--first-line {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 32px;
  padding-top: 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__wrapper--for--first-line:before {
  box-sizing: border-box;
  position: absolute;
  content: '';
  left: 0;
  width: 4px;
  height: 40px;
  border-right: 4px solid #41F6D7;
  border-radius: 0px 4px 4px 0px; 
}

.services__wrapper--for--btns {
  box-sizing: border-box;
  width: 96px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  position: relative;
  top: -88px;
  left: -41px;
}

.services__navigation {
  height: 40px;
  overflow: auto;
  padding: 0 16px;
}

.list {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.services__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.services__item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;  
  align-items: center;  
}

.link-btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;  
  align-items: center;
  outline: none;
  text-decoration: none;
  white-space: nowrap;  
}

.services__link-btn {
  height: 40px;
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  color: #7E7E82;
  padding: 0 16px;
  transition: box-shadow 0.3s ease;
}

.services__link-btn.current {
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: inset 0 0 2px 0 rgba(184, 255, 236, 0), inset 0 0 0 2px rgba(184, 255, 236, 1);
}

.services__link-btn:hover, .services__link-btn:focus {
  border-radius: 6px;
  box-shadow: inset 0 0 2px 0 rgba(184, 255, 236, 0), inset 0 0 0 2px rgba(184, 255, 236, 1);
}

.content{
  box-sizing: border-box;
}

.services__article {
  padding: 24px 16px 16px 16px;  
}

.article{
  box-sizing: border-box;
}

.services__text{
  box-sizing: border-box;
  font-family: 'TT Lakes';
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #1B1C21;
  margin: 0;
}

.services__text--vis-fr--768, .services__text--vis-fr--1440 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.more-btn {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  width: 141px;
  height: 24px;
  padding: 0;
  font-family: 'TT Lakes';
  font-size: 16px;
  color: #1B1C21;
  line-height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  padding-right: 9px;
  transition: box-shadow 0.3s ease;
}

.more-btn:hover, .more-btn:focus {
  border-radius: 6px;
  box-shadow: 0 0 2px 0 rgba(184, 255, 236, 0), 0 0 0 2px rgba(184, 255, 236, 1);
}

.services__text {
  margin-bottom: 16px;
}

.menu__mailto {
  display: none;
}

.menu__callto {
  display: none;
}

.menu__wrapper--for--lang {
  display: none;
}

.menu__button--name--burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.button__line:nth-child(1) {
  width: 18px;
  height: 2px;
  border-radius: 1px;
  background-color: #FFFFFF;
  margin: auto auto 5px auto;
  transition: transform 0.3s ease;
}

.button__line:nth-child(2) {
  width: 10px;
  height: 2px;
  border-radius: 1px;
  background-color: #FFFFFF;
  margin: 0 19px 5px 11px;
  transition: transform 0.3s ease;
}

.button__line:nth-child(3) {
  width: 14px;
  height: 2px;
  border-radius: 1px;
  background-color: #FFFFFF;
  margin: 0 15px auto 11px;
  transition: transform 0.3s ease;
}
.menu__button--name--burger.active .button__line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  width: 24px;
}

.menu__button--name--burger.active .button__line:nth-child(2) {
  opacity: 0;
}

.menu__button--name--burger.active .button__line:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -4px);
  width: 24px;
}

@media (min-width: 768px) {
  .menu__wrapper--for--logo {
    width: 226px;
    justify-content: space-around;
    position: relative;
    padding: 18px 2px;
  }

  .menu__wrapper--for--logo:before {
    box-sizing: border-box;
    position: absolute;
    content: '';
    right: 140px;
    width: 2px;
    height: 32px;
    background: #EAEAEA;;
    border-radius: 1px;
  }

  .menu__wrapper--for--logo:after {
    display: none;
  }

  .services__wrapper--for--btns {
    left: 7px;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
  }

  .services {
    max-width: 1440px;
    min-height: 416px;
  }

  .menu__wrapper--for--mod-btn {
    box-sizing: border-box;
    display: block;
    width: 156px;
    margin-right: 158px;
    padding-right: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu__wrapper--for--mod-btn::after {
    box-sizing: border-box;
    position: absolute;
    content: '';
    right: 140px;
    width: 2px;
    height: 32px;
    background: #EAEAEA;;
    border-radius: 1px;
  }

  .services__wrapper--for--first-line {
    padding-left: 24px;
    margin-bottom: 31px;
  }

  .services__navigation {
    padding: 0 25px;
  }

  .services__image {
    float: right;
    width: 46.825%;
    margin-left: 3.125%;
    margin-right: 3.125%;
    min-height: 208px;
    max-height: 247px;
    object-fit: cover;
    border-radius: 5px;
   }

   .services__article {
    float: left;
    width: 40.625%;
    margin-left: 3.125%;
    margin-right: 3.125%;
    padding: 0;
   }

   .services__content {
    padding-top: 32px;
   }

   .services__text {    
    line-height: 20px;
    margin-bottom: 20px;
   }

   .services__text--vis-fr--768 {
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    margin-bottom: 10px;
  }

  .services__more-btn {
    padding-left: 9px;
  }
}
@media (min-width: 1426px) {
  .upender {
    display: flex;
    justify-content: center;
    flex-shrink: 0;

  }
  .menu {
    width: 306px;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-shrink: 0;
  }

  .menu__button--name--burger {
    display: none;
  }

  .menu__wrapper--for--logo:before, .menu__wrapper--for--mod-btn::after {
    display: none;
  }

  .menu__wrapper--for--logo {
    width: 100%;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 29px;
    padding-top: 29px;
    margin-bottom: 16px;
  }

  .menu__button--name--search {
    display:block;
  }

  .services__wrapper--for--first-line:before {
    position: relative;
    left: -29px;
    width: 4px;
    height: 40px;
    border-radius: 4px; 
  }

  .services__link-btn {
    padding: 0 14px 0 24px;
  }

  .menu__wrapper--for--mod-btn {
    width: 373px;
    margin-right: 0;
    padding-right: 0;
    display: flex;
    justify-content: flex-start;
    padding-left: 19px;
    margin-bottom: 16px;
  }

  .menu__button--name--call, .menu__button--name--chat {
    margin-right: 16px;
  }

  .upender__exception {
    max-width: 1120px;
  }

  .services__wrapper--for--btns {
    position: static;
    justify-content: flex-end;
  }

  .services__title {
    margin-right: 726px;
  }

  .services__btn-text {
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin: auto 0;
    cursor: pointer;
    white-space: nowrap;    
    margin-right: 9px;
  }

  .services__wrapper--for--first-line {
    justify-content: flex-start;
    padding-top: 42px;
    padding-left: 31px;
    margin-bottom: 8px;
  }

  .services__button--name--submit {
    margin-right: 32px;
  }

  .services__navigation {
    padding-left: 35px;
    max-height: 40px;
    overflow: visible;
  }

  .services__list {
    flex-wrap: wrap;
  }

  .services__item {
    margin-bottom: 4px;
  }

  .services__text--vis-fr--alw {
    margin-top: 27px;
  }

  .services__text--vis-fr--1440 {
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
  }

  .services__image {
    width: 47.411%;
    margin-left: 1.339%;
    margin-right: 2.5%;
    min-height: 307px;
   }

   .services__article {
    width: 43.75%;
    margin-left: 3.036%;
    margin-right: 1.339%;
   }

   .services__content {
    min-height: 368px;
   }

   .services__image {
    margin-top: 16px;
   }

   .menu__navigation {
    display: flex;
    flex-direction: column;
  }

  .navigation__list {
    display: flex;
    height: 397px;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 216px;
  }

  .navigation__item {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;  
    align-items: flex-start;
    position: relative;
    height: 100%;
  }

  .navigation__link-btn {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500;    
    margin-left: 20px;
  }  

  .navigation__link-btn:before {
    position: relative;
    box-sizing: border-box;
    content: '';
    left: -18px;
    width: 4px;
    height: 28px;
    border-right: 4px solid #41F6D7;
    border-radius: 4px;  
    opacity: 0;   
    transition: opacity 0.3s ease;
  }

  .navigation__link-btn:hover:before, .navigation__link-btn:focus:before {
    opacity: 1;
  }

  .navigation__link-btn.current {
    color: #7E7E82;
  }

  .navigation__link-btn.current:before {
    opacity: 1;
  }

  .menu__mailto {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;  
    align-items: center;
    outline: none;
    text-decoration: none;
    white-space: nowrap;  
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    padding-left: 19px;
    margin-bottom: 16px;
    font-weight: 500;
  }

  .menu__callto {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;  
    align-items: center;
    outline: none;
    text-decoration: none;
    white-space: nowrap;  
    font-family: 'TT Lakes';
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    padding-left: 19px;
    margin-bottom: 40px;
    font-weight: bold;
  }

  .menu__wrapper--for--lang {
    padding-left: 22px;
    display: flex;
  }

  .menu__link-btn--lang--en, .menu__link-btn--lang--ch {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin-right: 8px;
    font-weight: 500;
  }

  .menu__link-btn--lang--ru {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    margin-right: 8px;
  }
}
